<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="share/header :: header(~{::title},~{::link})">
	<title>账单列表</title>
	<link>
</head>

<body onload="ApplyConfig()">
	<!--  表格  -->
	<div class="grid-container">
		<div id="toolbar-grid"></div>
		<table id="data-grid" style="width: 100%;"></table>
	</div>


	<div id="pos-pz" class="easyui-window" title="pos机配置"
		style="width: 480px; height: 220px"
		data-options="iconCls:'icon-save',modal:true,closed: true">
		<form id="pospay-form" style="padding: 20px;">
			<div style="margin-bottom: 10px">
				<input class="easyui-textbox" style="width: 100%;" value="192.168.0.103" name="HostIP" id="HostIP" data-options="label:'主机地址',required:true">
			</div>
			<div style="margin-bottom: 10px">
				<input class="easyui-textbox" style="width: 100%;" value="5556" name="HostPORT" id="HostPORT" data-options="label:'主机端口',required:true">
			</div>
			<div style="text-align: center; padding: 5px 0">
				<a href="javascript:void(0)" class="easyui-linkbutton" onclick="checkInstallOCx()" style="width: 80px" iconCls="icon-key">检查控件</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" onClick="GetOcxVersion()" style="width: 80px" iconCls="icon-key">控件版本</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" onClick="ApplyConfig()" style="width: 80px" iconCls="icon-key">应用配置</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" onClick="qd()" style="width: 80px" iconCls="icon-accept">签到</a>
			</div>
		</form>
	</div>


	<OBJECT id="vfUmsMisOcx" CLASSID="clsid:C8D41E31-41CE-40C6-A4FF-3D9A5702A5CE" style="LEFT:54px;TOP:14px" width="0px">
	 <PARAM   NAME="CommuMode"   VALUE="1"/> 
	 
     <PARAM   NAME="CommPort"   VALUE="3"/> 
     <PARAM   NAME="DataBits"   VALUE="8"/> 
     <PARAM   NAME="StopBits"   VALUE="1"/> 
     <PARAM   NAME="BaudRate"   VALUE="9600"/> 
     <PARAM   NAME="Settings"   VALUE="9600,N,8,1"/>     

     <PARAM   NAME="RTSEnable"   VALUE="1"/> 
     <PARAM   NAME="DTREnable"   VALUE="1"/> 
     <PARAM   NAME="Handshaking"   VALUE="0"/> 
     <PARAM   NAME="NullDiscard"   VALUE="0"/> 
     <PARAM   NAME="ParityReplace"   VALUE="?"/>
 
     <PARAM   NAME="EOFEnable"   VALUE="0"/>       
     <PARAM   NAME="InputMode"   VALUE="0"/>    
     <PARAM   NAME="InBufferSize"   VALUE="1024"/>       
     <PARAM   NAME="InputLen"   VALUE="0"/>     
     <PARAM   NAME="OutBufferSize"   VALUE="512"/> 
     
     <PARAM   NAME="SThreshold"   VALUE="0"/> 
     <PARAM   NAME="RThreshold"   VALUE="1"/> 
	 
	 <PARAM   NAME="CurTimeOut"   VALUE="180"/> 
	 <PARAM   NAME="LogData"   VALUE=""/> 
	 <PARAM   NAME="CtrlVersion"   VALUE=""/> 
	 <PARAM   NAME="CurTransType"   VALUE=""/> 
</OBJECT>

	<!-- 引入腳本  -->
	<scripts th:replace="share/scripts :: scripts(~{::script})" >
		<script type="text/javascript" src="/custom/zdxx/zdgl/list-view.js"></script>
	</scripts>
</body>
</html>