<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="share/header :: header(~{::title},~{::link})">
<title>字典列表</title>
<link>
</head>
<body>
	<!--  表格  -->
	<div class="grid-container">
		<div id="grid-btn-group">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">条件查询</legend>
				<label>字典名称：</label>
				<input type="text" class="easyui-textbox" id="dicname-toolbar" />
				<label>字典键：</label>
				<input type="text" class="easyui-textbox" id="dickey-toolbar" />
				<a href="javascript:void(0);" class="easyui-linkbutton toolbar-btn" iconCls="icon-search" data-opr="search">查询</a>
			</fieldset>
			<fieldset class="scheduler-border opr-btn">
				<legend class="scheduler-border">选择操作</legend>
				<a href="javascript:void(0);" class="easyui-linkbutton toolbar-btn" iconCls="icon-add" data-opr="add"	>新增</a>
				<a href="javascript:void(0);" class="easyui-linkbutton toolbar-btn" iconCls="icon-edit" data-opr="edit"	>编辑</a>
				<a href="javascript:void(0);" class="easyui-linkbutton toolbar-btn" iconCls="icon-remove" data-opr="delete"	>删除</a>
				<a href="javascript:void(0);" class="easyui-linkbutton toolbar-btn" iconCls="icon-reload" data-opr="reload"	>刷新</a>
			</fieldset>
		</div>
		<table id="data-grid" style="width: 100%;"></table>
	</div>
	<!--  编辑表单 -->
	<div id="dic-win" class="easyui-window" title="编辑字典" style="width: 350px; height: 300px" data-options="iconCls:'icon-save',modal:true,closed: true">
		<form id="dic-form" method="post" style="padding: 20px;">
			<input type="hidden" name="guid">
			<div style="margin-bottom: 10px">
				<input class="easyui-textbox" id="dicname" name="dicname" style="width: 100%;" data-options="label:'字典名称:',required:true">
			</div>
			<div style="margin-bottom: 10px">
				<input class="easyui-textbox" id="dickey" name="dickey" style="width: 100%;" data-options="label:'字典键:',required:true">
			</div>
			<div style="margin-bottom: 10px">
				<input class="easyui-textbox" name="dicval" id="dicval" style="width: 100%;" data-options="label:'字典值:',required:true">
			</div>
			<div style="margin-bottom: 10px;">
				<select class="easyui-combobox" name="dicparent" id="dicparent" style="width: 100%;" data-options="label:'父集字典:'
					 ,required: false
					 ,url: '/dic/findAll'
					 ,method: 'get'
					 ,textField: 'dickey'
					 ,valueField: 'guid'">
				</select>
			</div>
			<div style="text-align: center; padding: 5px 0">
				<a href="javascript:void(0)" class="easyui-linkbutton form-submit" style="width: 80px" iconCls="icon-key">保存</a>
				<a href="javascript:void(0)" class="easyui-linkbutton form-clear" style="width: 80px" iconCls="icon-cancel">清除</a>
			</div>
		</form>
	</div>
	<!-- 引入腳本  -->
	<scripts th:replace="share/scripts :: scripts(~{::script})"> <script type="text/javascript" src="/custom/jcxx/dic/list-view.js"></script></scripts>
</body>
</html>